<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Trip Info</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap" rel="stylesheet">    <!-- Axios -->

    <link rel = "stylesheet" href = "trip.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="homepage.html">ROAMEO</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="homepage.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="communityFeed.html">Community Feed</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mytrips.html">My Trip</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="app">
        <div class="container">
            <h1 class="title">Choose Your Destination</h1>
            <div class="form-container">
                <form id="countryForm" @submit.prevent="submit">
                    <div class="form-group">
                        <label for="countrySelect">Select a Country to Explore:</label>
                        <input v-model="entry" @keyup="filterCountries()" type="text" placeholder="Where to?" class="form-control" aria-describedby="countryHelp">
                        <small id="countryHelp" class="form-text text-muted">Start typing to see suggestions.</small>
                        <select v-model='selectedCountry' class="form-control" id="countrySelect" size="5" @click="change">
                            <option v-for="country in filteredCountries" :value="country">{{country}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dateSelect">Dates:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="date" id="startDate" name="startDate" class="form-control" required>
                            </div>
                            <div class="col-md-6">
                                <input type="date" id="endDate" name="endDate" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="budget">Budget:</label>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="number" id="minBudget" name="minBudget" class="form-control" placeholder="Min Budget" required>
                            </div>
                            <div class="col-md-6">
                                <input type="number" id="maxBudget" name="maxBudget" class="form-control" placeholder="Max Budget" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block">Start Planning</button>
                </form>
            </div>
        </div>

    </div>

    <footer>
        <p>&copy; 2024 ROAMEO. All Rights Reserved.</p>
    </footer>

    <script src = "addtripinfo.js"  type="module"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
